@font-face {
  font-family: 'SourceSansPro';
  font-weight: 400;
  font-style: normal;

  src:  url('fonts/SourceSansProRegular.woff') format('woff'),
        url('fonts/SourceSansProRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;

  src:  url('fonts/LatoRegular.woff') format('woff'),
        url('fonts/LatoRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;

  src:  url('fonts/LatoBold.woff') format('woff'),
        url('fonts/LatoBold.woff2') format('woff2');
}

@font-face {
  font-family: 'LatoBlack';
  font-weight: 400;
  font-style: normal;

  src:  url('fonts/LatoBlack.woff') format('woff'),
        url('fonts/LatoBlack.woff2') format('woff2');
}


