.site-content {

  display: flex;
  align-items: top;
  justify-content: space-between;
  padding-top: 35px;
  @include container;

  &:before,&:after {
    display: none;
    content: none;
  }
}

@media #{$mobile-widths-only} {
  .site-content {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
