@mixin widget-ul {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $color-header;
  margin: 0;
  padding-left: 34px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
  li {
  }
  a {
    display: block;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    color: $color-header;
    text-decoration: none;
  }
}

@mixin widget-ul-boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-top: 10px;
  list-style: none;
  background-color: #000000;
  text-transform: uppercase;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  a {
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
    min-height: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 10px;
    color: $color-header;
    text-decoration: none;
    border: 1px solid #929292;
    white-space: nowrap;
    &:hover {
      background-color: $color-decor;
      border-color: $color-decor;
    }
  }
}


.widget-area {
  width: 270px;

  ul {
    @include widget-ul;
  }

  .search-form {
    position: relative;
  }

  .search-field {
    width: 100%;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    height: 35px;
    color: $color-header;
    background-color: #000000;
    border: 1px solid $color-decor;
  }

  .search-submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 35px;
    height: 35px;
    background-color: $color-decor;
    border: none;
    outline: none;
    border-radius: 0;

    .icon-search {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .widget-title {
    min-height: 30px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 4px solid $color-decor;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 30px;
    vertical-align: center;
    color: $color-header;
    background-color: #000000;
    text-transform: uppercase;
  }

  .widget_recent_entries {
    ul {
      @include widget-ul;
    }
  }

  .widget_archive {
    ul {
      @include widget-ul;
    }
  }

  .widget_categories {
    ul {
      @include widget-ul-boxes;
    }
  }

  .tagcloud {
    @include widget-ul-boxes;
  }
}

